<footer class="bg-dark text-white pt-4 pb-2 mt-auto">
  <div class="container text-center text-md-start">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Merch - F1</h5>
        <p>Tienda para venta de merch de Fórmula 1</p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/inicio']" class="text-white text-decoration-none">Inicio</a></li>
          <li><a [routerLink]="['/productos']" class="text-white text-decoration-none">Productos</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Contacto</h5>
        <p>Email: contacto gmail.com</p>
        <p>Teléfono: +54 11 1234-5678</p>
      </div>
    </div>
  </div>

  <div class="text-center py-3 border-top border-secondary">
    © 2025 Merch - F1. Todos los derechos reservados.
  </div>
</footer>
