@if (mensajeError) {
  <p class="alert alert-danger">{{ mensajeError }}</p>
} @else {

  <div class="container py-4 grilla">

    <app-filtros-productos
      [clasificaciones]="clasificacionesDisponibles"
      (filtrosAplicados)="aplicarFiltros($event)">
    </app-filtros-productos>

    <div *ngIf="cargando(); else listaProductos">
      <p>Cargando productos...</p>
    </div>

    <ng-template #listaProductos>
      <div class="row g-4">
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 contenedor-grilla-card"
            *ngFor="let producto of productosFiltrados()">
  
            <app-card-producto
              [nombreImagen]="producto.nombre"
              [descripcion]="producto.descripcion"
              [clasificacion]="producto.clasificacion"
              [precio]="producto.precio"
              [id]="producto.id">
            </app-card-producto>
  
          </div>
      </div>
    </ng-template>

  </div>
}
