.contenedor-detalle{
    padding: 50px;
}

.volver {
  transition: transform 0.2s ease, color 0.2s ease;
}

.volver:hover {
  transform: translateX(-3px);
  background-color: #35393d;
}


.msj-exito{
  position: fixed;
  z-index: 1000;
  top: 70px;
  right: 50px;
}