.total{
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.total > p{
    margin: 0;
}

.product-image-carrito{
    max-width: 100px;

}

div{
    padding: 0 10px;
}
.cada-historico{
    transition: all .2s;
    border-radius: 12px;
}

.cada-historico:hover {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2) !important;
}

 .cada-historico img{
    transition: all .2s;
 }
 .cada-historico:hover img{
    transform: translateX(20px);
 }

