.total{
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.total > p{
    margin: 0;
}

.product-image-carrito{
    max-width: 100px;

}

div{
    padding: 0 10px;
}
