<div class="d-flex align-items-center justify-content-between mb-3 border-bottom pb-2 cada-historico">

  <div class="flex-grow-1">
    <img [src]="'img/productos/' + item.producto.nombre" [alt]="item.producto.nombre" class="product-image-carrito" />
  </div>

  <div class="flex-grow-1">
    <strong>{{ item.producto.descripcion }}</strong>
  </div>

  <div class="flex-grow-1">
    <strong>{{ item.producto.clasificacion }}</strong>
  </div>

  <div class="me-3 total">
    <p class="cadauno">C/U:</p>
    <p class="text-success me-3">${{ item.producto.precio | number:'1.2-2' }}</p>
  </div>

  <div class="d-flex align-items-center">
    <button class="btn btn-sm btn-outline-secondary me-2" (click)="disminuirCantidad(index)">−</button>
    <span class="mx-2">{{ item.cantidad }}</span>
    <button class="btn btn-sm btn-outline-secondary ms-2" (click)="aumentarCantidad(index)">+</button>
  </div>

  <div class="text-success me-3 total">
    ${{ (item.producto.precio * item.cantidad) | number:'1.2-2' }}
  </div>

  <button class="btn btn-sm btn-danger" (click)="eliminarItem(index)">
    &times;
  </button>
</div>
