


<nav class="navbar navbar-expand-lg shadow-sm px-4 py-3">
  <div class="container-fluid">

   <a class="navbar-brand d-flex align-items-center text-white" [routerLink]="['/inicio']">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/512px-F1.svg.png?20220216140938" 
       alt="Logo F1" 
       width="40" 
       class="me-2" />
  Merch-F1
</a>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav align-items-center gap-3">
        <li class="nav-item">
          <a class="nav-link text-pink d-flex align-items-center" [routerLink]="['/inicio']">
            <i class="bi bi-house-door me-1"></i> Inicio
          </a>
        </li>
       <li class="nav-item">
        <a class="nav-link text-pink d-flex align-items-center" [routerLink]="['/productos']">
          <i class="bi bi-box-seam me-1"></i> Productos
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link active bg-carrito text-pink rounded px-3 py-1 d-flex align-items-center" 
             [routerLink]="['/carrito']">
            <i class="bi bi-cart me-1"></i> Carrito
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-pink d-flex align-items-center" [routerLink]="['/perfil']">
            <i class="bi bi-person me-1"></i> {{usuarioNombre}}
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>

